# SIM-SLIP-REF Environment Configurations
PORT=3000
JWT_SECRET=SIM_SLIP_REF_SECRET_2026_GANTI_DI_PRODUKSI

# Database selection: 'sqlite' or 'postgres'
DB_TYPE=sqlite

# PostgreSQL Connection Details (Used only when DB_TYPE=postgres)
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=yourpassword
PGDATABASE=sim_slip_ref
